.introducao {
  max-width: 1200px;
  padding: 40px 20px; /*40 para cima e para baixo, 20 para direita e esquerda*/
  margin: 0 auto; /*para eles ficarem alinhados*/
  display: grid; /*para criar colunas*/
  grid-template-columns: 1fr 2fr; /*podia ser 4 colunas e 8 colunas, como a proporção fica 1 para 2, dá o mesmo*/
  gap: 100px;
  align-items: center; /*alinhar o conteudo ao centro*/
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px; /*margem para baixo para ficar bem espaçado*/
  position: relative;
}

.introducao h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("../img/detalhe.svg") no-repeat center; /*não repetir e ficar alinhado ao centro*/
  position: absolute;
  top: -15px;
  left: -40px;
  z-index: -1;
}

.introducao p {
  font-size: 1.5rem;
  color: #525252;
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr; /*as colunas passam a ter a mesma proporção*/
    gap: 40px;
  }
  .introducao h1 {
    font-size: 2rem;
  }
  .introducao h1::before {
    width: 30px;
    height: 10px;
    left: 0px;
  }
}

@media (max-width: 400px) {
  .introducao {
    grid-template-columns: 1fr;
  }

  .introducao img {
    display: none;
  }
}
